body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #484452;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  background: #C7AFBD;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
